.year-filter {
	width: 24%;
	min-width: 145px;
	float: right;
	margin: 0 0 0.5em 0.25em;
	border: 1px solid rgb(229, 229, 229);
}
.year-filter .item {
	position: relative;
	max-height: 64px;
	padding: 0.5em 0.75em;
	overflow: hidden;
	cursor: pointer;
	transition: max-height 0.35s;
}
.year-filter.active .item {
	max-height: 450px;
	overflow-y: auto;
	cursor: default;
}
body.loading-references .year-filter.active .item {
	max-height: 110px;
	overflow: hidden;
}
.year-filter .spinner {
	position: static;
	margin: 1em auto;
}
.year-filter h3 {
	position: relative;
	cursor: pointer;
}
.year-filter h6 a {
	display: block;
	padding: 0.2em 1em;
}
.year-filter h6 a:hover,
.quarter-filter.is-enabled:hover {
	background: rgb(240, 240, 240);
	cursor: pointer;
}
.year-filter h6 a.active,
.year-filter h6 a.active:hover,
.quarter-filter.active,
.quarter-filter.active:hover {
	background: rgb(221, 221, 221);
}
.quarters {
	float: left;
	margin-left: 9px;
	margin-top: 20px;
	/* Match the line height of the h2 */
	line-height: 42px;
}
/* Year section styles */
#boot .year-section h2 {
	margin-top: 20px;
}
#boot .year-section.first h2,
#boot.filtered .year-section h2 {
	margin-top: 0;
}
#boot .year-section h6 {
	margin-top: 1em;
}
.year-section.first .quarters,
.filtered .year-section .quarters {
	margin-top: 0;
}
.quarter-filter {
	border: 1px solid rgb(229, 229, 229);
	font-weight: bold;
	font-size: 13px;
	padding: 0.25em 0.35em;
	margin: 0 0.25em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.quarter-filter.is-enabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

}
h2.quarterly {
	float: left;
}
.ref-entry {
	clear: left;
}
/* Extra selector weight to override Concordia styles */
#boot .year-filter h6 a:hover {
	text-decoration: none;
}
/* Override unwanted Concordia styles */
#boot .year-filter.active .item:hover {
	background-color: transparent;
}
