.year-filter {
	width: 30%;
	min-width: 160px;
	float: right;
	margin-left: 1em;
	margin-bottom: 0.5em;
}
.year-filter .item {
	position: relative;
	max-height: 50px;
	overflow: hidden;
	cursor: pointer;
}
.year-filter.active .item {
	max-height: 450px;
	overflow-y: auto;
	cursor: default;
}
body.loading-references .year-filter.active .item {
	max-height: 110px;
	overflow: hidden;
}
.year-filter .spinner {
	position: static;
	margin: 1em auto;
}
.year-filter h3 {
	cursor: pointer;
}
.year-filter h6 a {
	display: block;
	padding: 0.2em 1em;
}
.year-filter h6 a:hover {
	background: rgb(240, 240, 240);
}
.year-filter h6 a.active,
.year-filter h6 a.active:hover {
	background: rgb(221, 221, 221);
}
/* Extra selector weight to override Concordia styles */
#boot .year-filter h6 a:hover {
	text-decoration: none;
}
/* Override unwanted Concordia styles */
#boot .year-filter.active .item:hover {
	background-color: transparent;
}