.year-filter {
	width: 30%;
	min-width: 160px;
	float: right;
	margin-bottom: 0.5em;
}
.year-filter .item {
	position: relative;
	max-height: 50px;
	overflow: hidden;
	cursor: pointer;
}
.year-filter.active .item {
	max-height: 450px;
	overflow-y: auto;
	cursor: default;
}
body.loading-references .year-filter.active .item {
	max-height: 110px;
	overflow: hidden;
}
.year-filter .spinner {
	position: static;
	margin: 1em auto;
}
.year-filter h3 {
	cursor: pointer;
}
.year-filter h6 a {
	display: block;
	padding: 0.2em 1em;
}
.year-filter h6 a:hover,
.quarter-filter:hover {
	background: rgb(240, 240, 240);
	cursor: pointer;
}
.year-filter h6 a.active,
.year-filter h6 a.active:hover,
.quarter-filter.active,
.quarter-filter.active:hover {
	background: rgb(221, 221, 221);
}
.quarters {
	float: left;
	margin-left: 9px;
	margin-top: 20px;
	/* Match the line height of the h2 */
	line-height: 42px;
}
.year-section.first .quarters {
	margin-top: 0;
}
.quarter-filter {
	border: 1px solid rgb(229, 229, 229);
	font-weight: bold;
	font-size: 13px;
	padding: 0.25em 0.35em;
	margin: 0 0.25em;
}
h2.quarterly {
	float: left;
}
.ref-entry {
	clear: left;
}
/* Extra selector weight to override Concordia styles */
#boot .year-filter h6 a:hover {
	text-decoration: none;
}
/* Override unwanted Concordia styles */
#boot .year-filter.active .item:hover {
	background-color: transparent;
}